# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Environment variables & secrets
.env
*.env
docker/.env

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Database
*.sqlite
*.db
